.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
} 

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}
.card-title {
  color: rgb(141, 80, 51);
  
}
.card-img-top {
  border-radius: 20px ;
  
}

.agendy {
  width: 20px ;
  
}

ul{
  list-style: none outside none; margin:0; padding: 0; text-align: center;
  display: inline-block;
}
li{
  margin: 0 2px; display: inline;
}
/* pagination */
#pagination nav{
  text-align: center;
  
  }
#pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
  text-align: center;
}

#pagination ul li {
	padding: 0;
	margin: 0 10px;
	display: inline-block;
}

#pagination ul li a{
  display: inline;
  vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: rgb(236, 71, 200);	
	font-weight: normal;
	outline-style: solid;
  outline-width: thin;
}

#pagination li a:hover, #paginacion li .current{
	color: #C30;
}
/* ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: center;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}
 */



