.Services {
  font-family: 'PT mono', 'Helvetica Neue', sans-serif !important;
  height: 100vh;
  background: #e5e5e5;
  

}
nav{
  text-align: center;
  
  }
.text{
  padding: 30px;
  margin-left: 10px;
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--fucsia);
  padding-bottom: 0;
 
}