/* paginacion */
#paginacion nav{
text-align: center;

}
#paginacion ul {
	margin: 0;
	padding: 0;
	list-style: none;
text-align: center;
}

#paginacion ul li {
	padding: 0;
	margin: 0 10px;
	display: inline-block;
}

#paginacion ul li a{
display: inline;
vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: rgb(236, 71, 200);	
	font-weight: normal;
	outline-style: solid;
outline-width: thin;
}

#paginacion li a:hover, #paginacion li .current{
	color: #C30;
}